{% extends 'admin/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
    <div class="col-md-8">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th>文章编号</th>
                <th>文章标题</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in list %}
                <tr>
                    <th>{{ foo.id }}</th>
                    <th>{{ foo.title }}</th>
                    <th><a href="{{ url_for('admin.article_edit', id=foo.id) }}" class="button small">修改</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}